{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 86vh;">
        <div class="col-lg-6 col-md-8">
            <!-- Headline -->
            <div class="text-center mb-4">
                <h3>{{ headline }}</h3>
            </div>

            <!-- Content -->
            <form action="{% url 'create' %}" method="post" class="px-4">
                {% csrf_token %}
                <!-- Title -->
                <div class="mb-3">
                    <input type="text" autofocus class="form-control" name="title" placeholder="Title" autocomplete="off">
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <textarea class="form-control" rows="3" name="description" placeholder="Description"></textarea>
                </div>
                <!-- Start bid -->
                <div class="mb-3 input-group">
                    <span class="input-group-text">€</span>
                    <input type="number" step="any" class="form-control" placeholder="Start Bid" autocomplete="off" name="start_bid">
                </div>
                <!-- Image URL -->
                <div class="mb-3">
                    <input type="url" class="form-control" name="image" placeholder="Image URL" autocomplete="off">
                </div>
                <!-- Image UPload -->
                <div class="mb-3">
                    <input type="file" class="form-control" name="image_upload" placeholder="Upload Image" autocomplete="off">
                </div>
                <!-- Category -->
                <div class="mb-3">
                    <input type="text" list="category_names" class="form-control" name="category" placeholder="Category">
                    <datalist id="category_names">
                        {% for category in categories %}
                        <option value="{{ category }}">
                        {% endfor %}
                    </datalist>
                </div>
                <!-- Create listing -->
                <div class="row">
                    <div class="col-12">
                        <input class="btn btn-dark btn-block" type="submit" value="Create Listing">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
