{% extends "auctions/layout.html" %}

{% block body %}
<!-- Headline -->
<div class="mx-5 my-2 container">
    <div class="mx-5">
        <h3>{{ headline }}</h3>
    </div>
</div>

<!-- Content -->
<div class="mx-5 d-flex flex-wrap justify-content-evenly">
    {% if not auctions %}
        <div class="my-5">
            <h1 class="my-5">No listing!</h1>
        </div>
    {% else %}
        {% for auction in auctions %}
            <a href="{% url 'listing' id=auction.id %}" class="row text-decoration-none">
                <div class="p-3 mx-3 my-4 border-0 card rounded-4 position-relative" style="width: 15rem; background-color: rgba(255, 255, 255, 0.3);">
                    <!-- Active listing -->
                    {% if auction.active == True %}
                        <!-- Active listing with image -->
                        {% if auction.image %}
                            <img src="{{ auction.image }}" class="card-img-top rounded-4 border-bottom" alt="{{ auction.title }}">
                        <!-- Active listing no image -->
                        {% else %}
                            <img src="https://i.imgur.com/vLDtrNC.jpg" class="card-img-top rounded-4 border-bottom" alt="{{ auction.title }}">
                        {% endif %}
                        <!-- Indicator for Live Stream Auction -->
                        {% if auction.is_live_auction %}
                            <span class="badge bg-danger position-absolute top-0 start-0">Live Stream</span>
                        {% endif %}

                    </div>
                    <div class="col-5">
                        <p class="card-text text-end fw-normal" style="position: absolute; bottom: 15px; right: 30px;">{{ auction.current_bid }}€</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
