{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
        <!-- Static CSS -->
        <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css">
        

    </head>

    <body style="background: linear-gradient(to bottom right, rgb(166, 204, 175), rgb(109, 150, 255));">
        <!-- Nav -->
        <nav class="pt-4 navbar navbar-expand-lg navbar-white bg-white sticky-top border-bottom">
            <div class="mx-5 container-fluid">
                <!-- Title -->
                <a class="me-3 text-decoration-none navbar-brand" href="/">
                    <h4 class="fw-bold" style="letter-spacing:5px;">BidMania AUCTIONS</h4>
                </a>
                <!-- Dropdown button for small screen -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <!-- Links -->
                    <ul class="me-auto mb-2 mb-lg-0 navbar-nav">
                        <!-- All listings -->
                        <li class="nav-item">
                            <a class="me-2 nav-link" aria-current="page" href="{% url 'all' %}">All Listings</a>
                        </li>
                        <!-- Closed listings -->
                        <li class="nav-item">
                            <a class="me-2 nav-link" aria-current="page" href="{% url 'closed' %}">Closed Listings</a>
                        </li>
                        <!-- Categories -->
                        <li class= "nav-item">
                            <a class="me-2 nav-link" href="{% url 'categories' %}">Categories</a>
                        </li>
                        <!-- Watchlist -->
                        <li class="nav-item">
                            <a class="me-2 nav-link" href="{% url 'watchlists' %}">Watchlist</a>
                        </li>
                        <!-- Create listing -->
                        <li class="nav-item">
                            <a class="me-2 nav-link" href="{% url 'create' %}">Create Listing</a>
                        </li>
                        <!-- Create Live-Auctions -->
                        <li class="nav-item">
                            <a class="me-2 nav-link" href="{% url 'create_live_auctions' %}">Create Live-Auctions</a>
                        </li>
                        <!-- All Live Auctions -->
                        <li class="nav-item">
                            {% url 'all_live_auctions' as all_live_auctions_url %}
                            <a class="nav-link {% if request.path == all_live_auctions_url %}active{% endif %}" href="{{ all_live_auctions_url }}">
                                <i class="bi bi-camera-video-fill text-danger"></i> All Live Auctions
                            </a>
                        </li>
                    </ul>

                    <!-- Account -->
                    <span class="navbar-text dropdown-center">
                        {% if user.is_authenticated %}
                        <div class="dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="me-1 bi bi-person-fill"></i>{{ user.username }}
                        </div>
                        <ul class="dropdown-menu">
                            
                            <li class="nav-item">
                                <a class="text-decoration-none dropdown-item" href="{% url 'my_listings' %}">
                                    My Listings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="text-decoration-none dropdown-item" href="{% url 'my_bids' %}">
                                    My Bids
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item">
                                <a class="text-decoration-none dropdown-item" href="{% url 'logout' %}">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                        {% else %}
                        <div class="dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Log In / Register
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="text-decoration-none dropdown-item" href="{% url 'login' %}">Log In</a></li>
                            <li><a class="text-decoration-none dropdown-item" href="{% url 'register' %}">Register</a></li>
                        </ul>
                        {% endif %}
                    </span>
                </div>
            </div>
        </nav>

        <div class="mt-5">
        {% block body %}
        {% endblock %}
        </div>
        

    </body>
</html>
