<!-- live_auctions.html -->
{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <h1>Live Auctions</h1>
                {% if live_auctions %}
                    <ul class="list-group">
                        {% for auction in live_auctions %}
                            <li class="list-group-item"><a href="{% url 'live_stream' auction_id=auction.id %}">{{ auction.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No live auctions available.</p>
                {% endif %}
            </div>
            
        </div>
    </div>
{% endblock %}
