{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 86vh;">
        <div class="col-lg-6 col-md-8">
            <!-- Headline -->
            <h3 class="text-center mb-4">{{ headline }}</h3>

            <!-- Content -->
            <form action="{% url 'login' %}" method="post" class="px-4">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" autofocus class="form-control" name="username" placeholder="Username" autocomplete="off">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="row">
                    <div class="col-6">
                        <input class="btn btn-dark btn-block" type="submit" value="Login">
                    </div>
                    <div class="col-6 text-right">
                        {% if message %}
                        <div class="text-muted small">{{ message }}</div>
                        {% endif %}
                    </div>
                </div>
            </form>
            
            <!-- Registration Link -->
            <p class="text-center mt-4 mb-0">
                Don't have an account? <a href="{% url 'register' %}" class="fw-bold">Register!</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
