{% extends "auctions/layout.html" %}

{% block body %}
<style>
    .container-fluid {
        text-align: center;
        padding: 0; /* Remove padding */
    }

    img {
        width: 100%; /* Set image width to 100% */
        max-width: 100%; /* Ensure the image doesn't exceed its original size */
        height: auto;
        display: block;
        margin: auto;
    }
</style>

<div class="text-center bg-success">
    <h1>ALDI SAGT DANKE !</h1>  
</div>

<div class="container-fluid col-3">
    <img src="https://i.gifer.com/IXNp.gif">
</div>
{% endblock %}
